.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results-container {
	display: flex;
	flex-flow: wrap;
}
.result-items {
	position: relative;
	padding: 16px;
	border: 1px solid #898989;
	margin: 16px;
	text-align: center;
	min-width: 200px;
	text-decoration: none;
	box-shadow: 2px 2px 2px #898989;
}
.image-username {
	color: coral;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 5px 10px;
}
.image {
	width: 100%;
	height: 200px;
}
.image-wrapper {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	justify-content: center;
}
/*Loader*/
.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
/*Show and hide*/
.show {
	display: inline-block;
}
.hide {
	display: none;
}

.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}
/*Container*/
.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
}
.search-label {
	position: relative;
}
.container input {
	width: 100%;
	padding: 16px;
	font-size: 26px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}
.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}

.card:hover {
  background-color: #ffffd5;
}